<!-- modal-window cart -->
            <div class="modal-header wss-modal-header__color">
                <button type="button" class="close wss-modal__close" ng-click="cancel()">×</button>
                <h4 class="modal-title text-center">{{ modalCaption }}</h4>
            </div>

            <div class="modal-body">

                <div class="row wss-cart-list-in-cart">

                    <div class="wss-cart__list-of-equips" ng-repeat="equips in currentCart.selectItems">

                        <div class="col-lg-12 wss-cart-modal__item-in-list">
                            <div class="form-group">
                                <label for="select1" class="col-lg-3 control-label">{{ equips.equipmentName }}</label>

                                <div class="col-lg-3">
                                    <select class="form-control"
                                            ng-model="equips.equipmentAmount"
                                            ng-options="value for value in arrayOfOptions"
                                            >
                                    </select>
                                </div>
                                <div class="col-lg-6">
                                    <span>
                                        x
                                    </span>
                                    <span>
                                        {{ equips.equipmentPrice }}$
                                    </span>
                                    <span>
                                        =
                                    </span>
                                    <span>
                                        {{ equips.equipmentSum }}$
                                    </span>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="col-lg-12 wss-cart__total-price-items-in-cart">
                        <div class="form-group">
                            <label class="col-lg-3 control-label wss-cart__total-label" for="disabledInput">Total:</label>
                            <div class="col-lg-3">
                                <input class="form-control" id="disabledInput" type="text" placeholder="5900$" disabled="">
                            </div>
                        </div>
                    </div>

                </div>

                <div class="row">
                    <div class="col-lg-8">
                        <form class="form-horizontal">
                            <fieldset>
                                <legend>Personal data</legend>
                                <div class="form-group">
                                    <label for="inputEmail" class="col-lg-3 control-label">Name*</label>
                                    <div class="col-lg-9">
                                        <input type="email" class="form-control" id="inputEmail" placeholder="">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="inputPassword" class="col-lg-3 control-label">Company</label>
                                    <div class="col-lg-9">
                                        <input type="password" class="form-control" id="inputPassword" placeholder="">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="inputEmail" class="col-lg-3 control-label">Phone*</label>
                                    <div class="col-lg-9">
                                        <input type="email" class="form-control" id="inputEmail" placeholder="">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="inputEmail" class="col-lg-3 control-label">Email*</label>
                                    <div class="col-lg-9">
                                        <input type="email" class="form-control" id="inputEmail" placeholder="">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="inputPassword" class="col-lg-3 control-label">Address*</label>
                                    <div class="col-lg-9">
                                        <input type="password" class="form-control" id="inputPassword" placeholder="">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="inputPassword" class="col-lg-3 control-label">Town*</label>
                                    <div class="col-lg-9">
                                        <input type="password" class="form-control" id="inputPassword" placeholder="">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="inputEmail" class="col-lg-3 control-label">Country*</label>
                                    <div class="col-lg-9">
                                        <input type="email" class="form-control" id="inputEmail" placeholder="">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="inputPassword" class="col-lg-3 control-label">ZIP-code*</label>
                                    <div class="col-lg-9">
                                        <input type="password" class="form-control" id="inputPassword" placeholder="">
                                    </div>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                </div>

            </div>
            <div class="modal-footer wss-modal-footer__color">

                <div class="row">
                    <div class="col-lg-12 text-center">
                        <button type="button" class="btn btn-default" ng-click="cancel()">Continue shopping</button>
                        <button type="button" class="btn btn-warning" ng-click="ok()">Proceed to checkout</button>
                    </div>
                </div>


            </div>

<!-- modal-window cart -->