.idea
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
*.manifest
*.spec
pip-log.txt
pip-delete-this-directory.txt
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover
*.mo
*.pot
*.log
docs/_build/
target/
logs
pids
*.pid
*.seed
lib-cov
coverage
.grunt
.lock-wscript
build/Release
node_modules
db.sqlite3

# 2015.07.13
# taksenov@gmail.com ( https://github.com/taksenov/ )
#
# gitignore for projects using pyCharm
#
 
#files to ignore
local_settings.py
sitebellib.ini

#extensions to ignore
*.log
*.pot
*.pyc
 
#directories to ignore
.idea/
/temp
/holderjs
/bower_components
bower_components
app/bower_components
/test-work/app/static/SQLs/
migrations/
/node_modules

# ignore at dev-server
/env
/logs
/pids
/servstatic
/sphinx



#production
/dev
dev


frontend-builds/development/libs/**/*
frontend-builds/development/css/style.min.css
frontend-builds/dist/**/*
frontend-builds/dist/
frontend-builds/dist




