    <!-- todo сделать смену года в зависимости от даты, забивать год в БД -->
    <!-- footer -->
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-10">
                        <div class="text-left gf-exercise-string__exercise-text gf-exercise-caption__word-wrap">
                            <p class="text__h3">
                                &copy;2015 WestSib Studio. professional equipment for all stages of recording and processing sound
                            </p>
                        </div>
                    </div>

                    <!-- only large screens -->
                    <div class="col-md-6 col-lg-2 text-right wss-footer__paypal-logo hidden-xs hidden-sm">
                        <p>
                            <img src="/static/dist/img/footer-paypallogo.jpg" alt="PayPal">
                        </p>
                    </div>
                    <!-- only large screens -->

                    <!-- only phone screens -->
                    <div class="col-xs-12 col-sm-12 text-center wss-footer__paypal-logo hidden-md hidden-lg">
                        <p>
                            <img src="/static/dist/img/footer-paypallogo.jpg" alt="PayPal">
                        </p>
                    </div>
                    <!-- only phone screens -->


                </div>
            </div>
        </div>
    </div>
    <!-- footer -->