{% extends "base.html" %}

{% block mainpage %}
    <div ng-app="ngWestSibStudio">

        <!-- float-logoblock !!! -->
        <section class="wss-logo-block__float">

            <div class="container wss-logo-block__float_bg-color">
                <div class="row">

                    <!-- only medium and large screens -->
                    <div class="col-xs-12 col-md-6 col-lg-6 hidden-xs hidden-sm">
                        <a ui-sref="main" href="" class="gf-logo__link navbar-brand">
                            <img src="/static/dist/img/navbar-logo-float.png" alt="">
                        </a>
                    </div>
                    <div class="col-xs-12 col-md-6 col-lg-6 hidden-xs hidden-sm wss-logo-block__float_ul">
                        <ul class="wss-logo-block__cart">
                            <li class="wss-navbar__minheight">
                                <div class="wss-logo__cart_maindiv">
                                    <div class="wss-logo__cart_width text-right">
                                        <a href="#"
                                           data-toggle="modal" data-target="#cartModal"
                                           class="wss-logoblock__cart_cartlink wss__cart-minheight">
                                            <div class="wss__cart-div-xs-float">
                                                <div class="wss__cart_equips-in-the-cart-xs-float">4</div>
                                                <i class="icon-shopping-cart"></i>
                                                <span class="navbar__cart-text-xs-float">Cart</span>
                                            </div>
                                        </a>
                                    </div>
                                </div>

                            </li>
                        </ul>
                    </div>
                    <!-- only medium and large screens -->

                    <!-- only phone screens -->
                    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 hidden-md hidden-lg text-center wss-logo__link-xs">
                        <a href="" class="gf-logo__link">
                            <img src="/static/dist/img/navbar-logo-float.png" alt="">
                        </a>
                    </div>
                    <div class="col-xs-12 col-sm-12 hidden-md hidden-lg text-center">
                        <ul class="wss-logo-block__cart-xs">
                            <li class="">

                                <div class="wss-logo__cart_maindiv">
                                    <div class="wss-logo__cart_width-xs center-block">
                                        <a href="#"
                                           data-toggle="modal" data-target="#cartModal"
                                           class="wss-logoblock__cart_cartlink wss__cart-minheight center-block">
                                            <div class="wss__cart-div-xs-float">
                                                <div class="wss__cart_equips-in-the-cart-xs-float">4</div>
                                                <i class="icon-shopping-cart"></i>
                                                <span class="navbar__cart-text-xs-float">Cart</span>
                                            </div>
                                        </a>
                                    </div>
                                </div>

                            </li>
                        </ul>
                    </div>
                    <!-- only phone screens -->


                </div>
            </div>

        </section>
        <!-- float-logoblock !!! -->

        <div class="wss__wrapper_container">

            <!-- Header -->
            <div class="wss-logo-block" ui-view="headerMainPage">
            </div>
            <!-- Header -->

            <!-- manufacturers and equipments block -->
            <div class="" ui-view="allBrandsAndProductsMainPage">
            </div>
            <!-- manufacturers and equipments block -->

            <!-- footer -->
            <section class="footer" ui-view="footerMainPage">
            </section>
            <!-- footer -->

            <!-- footer ip34.ru -->
            <section class="footer" ui-view="footerIP34MainPage">
            </section>
            <!-- footer ip34.ru -->

        </div>

        <!-- modal-window about corp-data -->
        <div class="modal fade" id="manufacturerModal">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header wss-modal-header__color">
                        <button type="button" class="close wss-modal__close" data-dismiss="modal">×</button>
                        <h4 class="modal-title text-center">About Long</h4>
                    </div>

                    <div class="modal-body">

                        <div class="row">

                            <div class="col-lg-12 wss-about-manufacturer__text">
                                <p>
                                    Long Enterprise is a small Russian company that makes very good equipment.
                                    For nearly thirty-year history, the company has gone from issuing built-up to the development and production of various processing devices and control of sound.
                                    Long Enterprise specialized in analog sound processing, and in this area the company has accumulated wide experience allows to produce high quality products that meet the modern global levels of development.
                                </p>
                            </div>

                            <div class="col-lg-12 wss-about-manufacturer__img">
                                <img class="img-responsive" src="/static/dist/img/modal-aboutlong.jpg" alt="About Long" width="">
                            </div>

                        </div>

                    </div>
                    <div class="modal-footer wss-modal-footer__color">

                        <div class="row">
                            <div class="col-lg-12 text-center">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close window</button>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>
        <!-- modal-window about corp-data -->

        <!-- modal-window cart -->
        <div class="modal fade" id="cartModal">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header wss-modal-header__color">
                        <button type="button" class="close wss-modal__close" data-dismiss="modal">×</button>
                        <h4 class="modal-title text-center">Cart</h4>
                    </div>

                    <div class="modal-body">

                        <div class="row wss-cart-list-in-cart">

                            <div class="wss-cart__list-of-equips">

                                <div class="col-lg-12 wss-cart-modal__item-in-list">
                                    <div class="form-group">
                                        <label for="select1" class="col-lg-3 control-label">MICRO MIX 8S</label>

                                        <div class="col-lg-3">
                                            <select class="form-control" id="select1">
                                                <option>1</option>
                                                <option>2</option>
                                                <option>3</option>
                                                <option>4</option>
                                                <option>5</option>
                                            </select>
                                        </div>
                                        <div class="col-lg-6">
                                            <span>
                                                x
                                            </span>
                                            <span>
                                                1500$
                                            </span>
                                            <span>
                                                =
                                            </span>
                                            <span>
                                                3000$
                                            </span>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-12 wss-cart-modal__item-in-list">
                                    <div class="form-group">
                                        <label for="select2" class="col-lg-3 control-label">PARA EQ 4/8</label>

                                        <div class="col-lg-3">
                                            <select class="form-control" id="select2">
                                                <option>1</option>
                                                <option>2</option>
                                                <option>3</option>
                                                <option>4</option>
                                                <option>5</option>
                                            </select>
                                        </div>
                                        <div class="col-lg-6">
                                            <span>
                                                x
                                            </span>
                                            <span>
                                                1500$
                                            </span>
                                            <span>
                                                =
                                            </span>
                                            <span>
                                                3000$
                                            </span>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-12 wss-cart-modal__item-in-list">
                                    <div class="form-group">
                                        <label for="select3" class="col-lg-3 control-label">STEREO CHANNEL</label>

                                        <div class="col-lg-3">
                                            <select class="form-control" id="select3">
                                                <option>1</option>
                                                <option>2</option>
                                                <option>3</option>
                                                <option>4</option>
                                                <option>5</option>
                                            </select>
                                        </div>
                                        <div class="col-lg-6">
                                            <span>
                                                x
                                            </span>
                                            <span>
                                                1500$
                                            </span>
                                            <span>
                                                =
                                            </span>
                                            <span>
                                                3000$
                                            </span>
                                        </div>
                                    </div>
                                </div>

                            </div>

                            <div class="col-lg-12 wss-cart__total-price-items-in-cart">
                                <div class="form-group">
                                    <label class="col-lg-3 control-label wss-cart__total-label" for="disabledInput">Total:</label>
                                    <div class="col-lg-3">
                                        <input class="form-control" id="disabledInput" type="text" placeholder="5900$" disabled="">
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="row">
                            <div class="col-lg-8">
                                <form class="form-horizontal">
                                    <fieldset>
                                        <legend>Personal data</legend>
                                        <div class="form-group">
                                            <label for="inputEmail" class="col-lg-3 control-label">Name*</label>
                                            <div class="col-lg-9">
                                                <input type="email" class="form-control" id="inputEmail" placeholder="">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="inputPassword" class="col-lg-3 control-label">Company</label>
                                            <div class="col-lg-9">
                                                <input type="password" class="form-control" id="inputPassword" placeholder="">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="inputEmail" class="col-lg-3 control-label">Phone*</label>
                                            <div class="col-lg-9">
                                                <input type="email" class="form-control" id="inputEmail" placeholder="">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="inputEmail" class="col-lg-3 control-label">Email*</label>
                                            <div class="col-lg-9">
                                                <input type="email" class="form-control" id="inputEmail" placeholder="">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="inputPassword" class="col-lg-3 control-label">Address*</label>
                                            <div class="col-lg-9">
                                                <input type="password" class="form-control" id="inputPassword" placeholder="">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="inputPassword" class="col-lg-3 control-label">Town*</label>
                                            <div class="col-lg-9">
                                                <input type="password" class="form-control" id="inputPassword" placeholder="">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="inputEmail" class="col-lg-3 control-label">Country*</label>
                                            <div class="col-lg-9">
                                                <input type="email" class="form-control" id="inputEmail" placeholder="">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="inputPassword" class="col-lg-3 control-label">ZIP-code*</label>
                                            <div class="col-lg-9">
                                                <input type="password" class="form-control" id="inputPassword" placeholder="">
                                            </div>
                                        </div>
                                    </fieldset>
                                </form>
                            </div>
                        </div>

                    </div>
                    <div class="modal-footer wss-modal-footer__color">

                        <div class="row">
                            <div class="col-lg-12 text-center">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Continue shopping</button>
                                <button type="button" class="btn btn-warning" data-dismiss="modal">Proceed to checkout</button>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>
        <!-- modal-window cart -->

    </div>
{% endblock mainpage %}

{% block extra_javascript %}
    <!-- Others JS Files -->
    <script src="/static/dist/libs/jquery/jquery.js"></script>
    <!--<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.8.3/moment.min.js"></script>-->
    <script src="/static/dist/libs/bootstrap/js/bootstrap.js"></script>
    <!--<script src="libs/jasny-bootstrap/js/jasny-bootstrap.js"></script>-->
    <!--<script src="libs/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>-->
    <!--<script src="libs/bootstrap-datepicker/locales/bootstrap-datepicker.ru.min.js" charset="UTF-8"></script>-->
    <script src="/static/dist/libs/arrive/arrive.min.js"></script>
    <script src="/static/dist/libs/bootstrap-material-design/js/material.js"></script>
    <script src="/static/dist/libs/bootstrap-material-design/js/ripples.js"></script>
    <!--<script src="js/material/material-init.js"></script>-->
    <!-- AngularJs vDependencies -->
    <script src="/static/dist/libs/angular/angular.js"></script>
    <!--<script src="libs/angular/firebase.js"></script>-->
    <!--<script src="libs/angular/angularfire.js"></script>-->
    <script src="/static/dist/libs/angular-ui-router/angular-ui-router.js"></script>
    <script src="/static/dist/libs/angular-bootstrap/ui-bootstrap.js"></script>
    <script src="/static/dist/libs/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <!--<script src="libs/Chart.js/Chart.js"></script>-->
    <!--<script src="libs/angular-chart.js/angular-chart.js"></script>-->
    <!--<script src="libs/angular-bootstrap-datetimepicker/js/datetimepicker.js"></script>-->
    <script src="/static/dist/libs/a0-angular-storage/angular-storage.js"></script>
    <!--<script src="libs/angular-toastr/angular-toastr.tpls.js"></script>-->
    <script src="/static/dist/libs/fancybox/jquery.fancybox.js"></script>
    <script src="/static/dist/js/logo-float-top/logo-float-top.js"></script>
    <script src="/static/dist/js/fancy-box/fancy-box-initial.js"></script>
    <!-- Our JS App Fies -->
    <script src="/static/dist/app/app.js"></script>
    <!-- Other helpers JS -->
    <!--<script src="js/date-picker/date-picker.js"></script>-->
    <!--<script src="js/tooltip/tooltip.js"></script>-->
{% endblock extra_javascript %}



























