<!-- float-logoblock !!! -->
<section class="wss-logo-block__float">

    <div class="container wss-logo-block__float_bg-color">
        <div class="row">

            <!-- only medium and large screens -->
            <div class="col-xs-12 col-md-6 col-lg-6 hidden-xs hidden-sm">
                <a ui-sref="main" href="" class="gf-logo__link navbar-brand">
                    <img src="/static/dist/img/navbar-logo-float.png" alt="">
                </a>
            </div>
            <div class="col-xs-12 col-md-6 col-lg-6 hidden-xs hidden-sm wss-logo-block__float_ul">
                <ul class="wss-logo-block__cart">
                    <li class="wss-navbar__minheight">
                        <div class="wss-logo__cart_maindiv">
                            <div class="wss-logo__cart_width text-right">
                                <a href=""
                                   ng-click="vm.openModalCart($event)"
                                   data-toggle="modal" data-target="#cartModal"
                                   class="wss-logoblock__cart_cartlink wss__cart-minheight">
                                    <div class="wss__cart-div-xs-float">
                                        <div class="wss__cart_equips-in-the-cart-xs-float">{{ currentCart.itemsInCart }}</div>
                                        <i class="icon-shopping-cart"></i>
                                        <span class="navbar__cart-text-xs-float">Cart</span>
                                    </div>
                                </a>
                            </div>
                        </div>

                    </li>
                </ul>
            </div>
            <!-- only medium and large screens -->

            <!-- only phone screens -->
            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 hidden-md hidden-lg text-center wss-logo__link-xs">
                <a href="" class="gf-logo__link">
                    <img src="/static/dist/img/navbar-logo-float.png" alt="">
                </a>
            </div>
            <div class="col-xs-12 col-sm-12 hidden-md hidden-lg text-center">
                <ul class="wss-logo-block__cart-xs">
                    <li class="">

                        <div class="wss-logo__cart_maindiv">
                            <div class="wss-logo__cart_width-xs center-block">
                                <a href=""
                                   ng-click="vm.openModalCart($event)"
                                   data-toggle="modal" data-target="#cartModal"
                                   class="wss-logoblock__cart_cartlink wss__cart-minheight center-block">
                                    <div class="wss__cart-div-xs-float">
                                        <div class="wss__cart_equips-in-the-cart-xs-float">{{ currentCart.itemsInCart }}</div>
                                        <i class="icon-shopping-cart"></i>
                                        <span class="navbar__cart-text-xs-float">Cart</span>
                                    </div>
                                </a>
                            </div>
                        </div>

                    </li>
                </ul>
            </div>
            <!-- only phone screens -->


        </div>
    </div>

</section>
<!-- float-logoblock !!! -->