<!-- Header -->

<div class="wss-logo-block">
    <div class="container wss__container">
        <div class="row">

            <!-- отображение лого на больших экранах -->
            <div class="col-sm-4 col-md-4 col-lg-4 hidden-xs hidden-sm hidden-md">
                <a ui-sref="main" href="" class="gf-logo__link navbar-brand hidden-xs">
                    <img src="/static/dist/img/navbar-logo.png" alt="">
                </a>
            </div>

            <div class="col-sm-4 col-md-4 col-lg-4 hidden-xs hidden-sm hidden-md wss-navbar__minheight wss-logo__h1-lg">
                <h1 class="wss__cart-minheight wss__header1_padding-left text-center">
                    professional equipment for all stages of recording and processing sound
                </h1>
            </div>

            <div class="col-sm-4 col-md-4 col-lg-4 hidden-xs hidden-sm hidden-md text-right logoblock__reg_margintop wss-logo__cart-lg">
                <ul class="wss-logo-block__cart">
                    <li class="wss-navbar__minheight">
                        <div class="wss-logo__cart_maindiv">
                            <div class="wss-logo__news_button">
                                <a href="#" class="btn btn-default btn-lg">Our News</a>
                            </div>
                            <div class="wss-logo__cart_width">
                                <a href=""
                                   ng-click="vm.openModalCart($event)"
                                   class="wss-logoblock__cart_cartlink wss__cart-minheight center-block">
                                    <div class="wss__cart-div">
                                        <div class="wss__cart_equips-in-the-cart-lg">{{ currentCart.itemsInCart }}</div>
                                        <i class="icon-shopping-cart"></i>
                                        <span class="navbar__cart-text">Cart</span>
                                    </div>
                                </a>
                            </div>
                        </div>

                    </li>
                </ul>
            </div>
            <!-- отображение лого на больших экранах -->

            <!-- отображение лого на устройствах со средними экранами -->
            <div class="col-sm-6 col-md-4 col-lg-4 hidden-xs hidden-lg">
                <a ui-sref="main" href="" class="gf-logo__link navbar-brand">
                    <img src="/static/dist/img/navbar-logo-xs.png" alt="">
                </a>
            </div>

            <div class="col-sm-6 col-md-4 col-lg-4 hidden-xs hidden-lg wss-navbar__minheight-xs wss-logo__h1-sm">
                <h1 class="wss__header1_padding-left text-center">
                    professional equipment for all stages of recording and processing sound
                </h1>
            </div>

            <div class="col-sm-12 col-md-4 col-lg-4 hidden-xs hidden-lg text-center">
                <ul class="wss-logo-block__cart">
                    <li class="">

                        <div class="wss-logo__cart_maindiv">
                            <div class="wss-logo__news_button">
                                <a href="#" class="btn btn-default btn-lg">Our News</a>
                            </div>
                            <div class="wss-logo__cart_width">
                                <a href=""
                                   ng-click="vm.openModalCart($event)"
                                   class="wss-logoblock__cart_cartlink wss__cart-minheight center-block">
                                    <div class="wss__cart-div">
                                        <div class="wss__cart_equips-in-the-cart-md">{{ currentCart.itemsInCart }}</div>
                                        <i class="icon-shopping-cart"></i>
                                        <span class="navbar__cart-text">Cart</span>
                                    </div>
                                </a>
                            </div>
                        </div>

                    </li>
                </ul>
            </div>
            <!-- отображение лого на устройствах со средними экранами -->

            <!-- отображение лого на телефоне -->
            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 hidden-sm hidden-md hidden-lg text-center wss-logo__link-xs">
                <a href="" class="gf-logo__link">
                    <img src="/static/dist/img/navbar-logo-xs.png" alt="">
                </a>
            </div>

            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 text-center hidden-sm hidden-md hidden-lg wss-navbar__minheight-xs">
                <h1 class="wss__header1_padding-left text-center">
                    professional equipment for all stages of recording and processing sound
                </h1>
            </div>

            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 hidden-sm hidden-md hidden-lg text-center">
                <ul class="wss-logo-block__cart-xs">
                    <li class="">

                        <div class="wss-logo__cart_maindiv">
                            <div class="wss-logo__cart_width-xs center-block">
                                <a href=""
                                   ng-click="vm.openModalCart($event)"
                                   class="wss-logoblock__cart_cartlink wss__cart-minheight-xs center-block">
                                    <div class="wss__cart-div-xs">
                                        <div class="wss__cart_equips-in-the-cart-xs">{{ currentCart.itemsInCart }}</div>
                                        <i class="icon-shopping-cart"></i>
                                        <span class="navbar__cart-text-xs">Cart</span>
                                    </div>
                                </a>
                            </div>
                        </div>

                    </li>
                </ul>
            </div>
            <!-- отображение лого на телефоне -->

        </div>
    </div>
</div>

<!-- Header -->