// Таблицы стилей для модального окна с корзиной товаров

.wss-cart-list-in-cart {
    ul {
        list-style-type: none;
    }

    border-bottom: 1px solid lightgray;
}

.wss-cart__list-of-equips {
    margin-bottom: 20px;
}

.wss-cart__total-price-items-in-cart {
    margin-top: 20px;
    margin-bottom: 15px;
}

.wss-cart-modal__item-in-list {

}

.wss-cart__total-price-items-in-cart {

}

.wss-cart__total-label {
    text-transform: uppercase;
}
















