//Таблицы стилей для footer

.footer {
    background-color: $footer-background-color;
    color: rgba(255,255,255,.84);
    text-shadow: rgb(31, 31, 31) 0px 1px 0px;
}

.wss-footer__paypal-logo {
    margin-top: 4px;
}

.wss-footer__ip34-link {
    color: $header-cart-cartlink-color;
    text-shadow: rgb(31, 31, 31) 0px 1px 0px;
    &:hover {
        color: $header-cart-cartlink-color;
        text-shadow: rgb(31, 31, 31) 0px 1px 0px;
    }
}

// спрайт для футера
.wss_tw_hover, .wss_yt_hover, .wss_fb_hover, .wss_Ins_hover, .wss_tw_nohover, .wss_yt_nohover, .wss_fb_nohover, .wss_Ins_nohover{
	background: url('/static/dist/img/sprites.png') no-repeat;
}

.wss_tw_nohover{
	background-position: -50.000003814697266px 0;
	width: 40px;
	height: 40px;

    &:hover {
        background-position: -50.000003814697266px -50px ;
        width: 40px;
        height: 40px;
    }
}

.wss_yt_nohover{
	background-position: -150.00000381469727px 0;
	width: 40px;
	height: 40px;

    &:hover {
        background-position: -150.00000381469727px -50px ;
        width: 40px;
        height: 40px;
    }
}

.wss_fb_nohover{
	background-position: 0 0;
	width: 40px;
	height: 40px;

    &:hover {
        background-position: 0 -50px ;
        width: 40px;
        height: 40px;
    }
}

.wss_Ins_nohover{
	background-position: -100.00000381469727px 0;
	width: 40px;
	height: 40px;

    &:hover {
        background-position: -100.00000381469727px -50px ;
        width: 40px;
        height: 40px;
    }

}

.wss-footer__social-networks {

    @include clearfix;

    margin-top: 12px;

    ul li {
        list-style: none;
    }
    ul {
        padding: 0;
        margin: 0;
    }
}

.wss-footer__paypal-icon {
    margin-top: 4px;
}

.wss-footer__social-icon {
    float: right;
    margin-right: 15px;
}

.wss-footer__social-xs-center {
    display:inline-block
}

// media queries
@media screen and (min-width: 1201px) {

}

@media screen and (min-width: 993px) and (max-width: 1200px) {

}

@media screen and (min-width: 769px) and (max-width: 993px) {

}

@media screen and (max-width: 768px) {

    // спрайт для футера
    .wss_tw_hover, .wss_yt_hover, .wss_fb_hover, .wss_Ins_hover, .wss_tw_nohover, .wss_yt_nohover, .wss_fb_nohover, .wss_Ins_nohover{
        background: url('/static/dist/img/sprites-xs.png') no-repeat;
    }

    .wss_tw_nohover{
        background-position: -25px 0;
        width: 20px;
        height: 20px;

        &:hover {
            background-position: -25px -25px ;
            width: 20px;
            height: 20px;
        }
    }

    .wss_yt_nohover{
        background-position: -75px 0;
        width: 20px;
        height: 20px;

        &:hover {
            background-position: -75px -25px ;
            width: 20px;
            height: 20px;
        }
    }

    .wss_fb_nohover{
        background-position: 0 0;
        width: 20px;
        height: 20px;

        &:hover {
            background-position: 0 -25px ;
            width: 20px;
            height: 20px;
        }
    }

    .wss_Ins_nohover{
        background-position: -50px 0;
        width: 20px;
        height: 20px;

        &:hover {
            background-position: -50px -25px ;
            width: 20px;
            height: 20px;
        }

    }

    .wss-footer__paypal-icon {
        margin-top: 0;
    }

    .wss-footer__social-icon {
        margin-right: 9px;
    }

}







