// стили для левостороннего меню для зарегистрированных пользователей

.gf-left-navigation {
    position: relative;
}

.gf-left-navigation__userpic {
    position: absolute;
    top: -35px;
    left: 15px;
    box-shadow: 0 0 5px #bbbbbb;
    img {
        width: 90px;
        height: 90px;
    }
}

.gf-left-navigation__border {
    box-shadow: 0 0 5px #bbbbbb;
}

.gf-left-navigation__username {
    font-size: $font-size-profile-user-name;
    padding-left: 120px;
    padding-top: 20px;
    padding-bottom: 20px;
    word-wrap: break-word;
}

.gf-left-navigation__achivments {
    @include clearfix;
}

.gf-left-navigation__list {
    li {
        float: left;
        margin-left: 1em;
    }
}

.gf-left-navigation__achivments_icons {
    font-size: 20pt;
}

.gf-left-navigation__achivments_center {
    display:inline-block;
}

.gf-workout-navigation__pos-rel {
    position: relative;
}

.gf-workout-navigation__image-lg-screens {
    position: absolute;
    top: -239px;
    margin-right: 15px;
}

.gf-workout-navigation__btnexit-lg-screens {
    position: absolute;
    top: 107px;
    width: 362px;
}

.navbar__small-avatar {
    margin-top: -8px;
}

.wss-logo-block__for-yabrowser {
}

.wss-equipment__for-yabrowser {
    height: 100%;

}

.wss__manufacturer_and_equipment_block__for-yabrowser {
    height: 100%;
}

// костыль для яндекс броузера
@media screen and (min-width: 1201px) {
    .wss-logo-block {
        width: 100%;
        min-height: 85px;
    }

    .wss_equipment {
        min-height: 100px;
        max-height: 99999px;

    }

    .wss__manufacturer_and_equipment_block {
        height: 100%;
    }

}


@media screen and (min-width: 993px) and (max-width: 1200px) {
    .wss-logo-block {
        width: 100%;
        min-height: 85px;
    }

    .wss_equipment {
        height: 100%;
    }
}

@media screen and (min-width: 769px) and (max-width: 993px) {
    .wss-logo-block {
        width: 100%;
        height: 100%;
    }

    .wss_equipment {
        height: 100%;
    }

}

@media screen and (max-width: 768px) {
    .wss-logo-block {
        width: 100%;
        height: 100%;
    }

    .wss_equipment {
        height: 100%;
    }
}


















