// Таблицы стилей для всех элементов главной страницы и всего сайта


// Some Styles...
body {
    width: 100%;
    font-size: $font-size-base;
//    background-color: red;   frontend-builds/development/img/wss-background.jpg
    background: url('../img/wss-background.png') #EEEEEE repeat fixed;
}

// -------= адаптивный футер =-------
html {
    height: 100%;
}
body {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

// -------= адаптивный футер =-------

.wss__container {
//    border: 1px solid black;
}

// -------= Адаптивный wrapper (контейнер) =-------
.wss__wrapper_container {
    width: 1170px;
    padding: 0;
    margin-right: auto;
    margin-left: auto;
    background-color: $main-background-equips-color;

    -webkit-box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.25);
    -moz-box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.25);
    box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.25);


}

@media (min-width: 310px) {
    .wss__wrapper_container {
        width: 95%;
    }
}

@media (min-width: 768px) {
    .wss__wrapper_container {
        width: 750px;
    }
}

@media (min-width: 992px) {
    .wss__wrapper_container {
        width: 970px;
    }
}

@media (min-width: 1200px) {
    .wss__wrapper_container {
        width: 1170px;
    }
}
// -------= Адаптивный wrapper (контейнер) =-------

// -- поинтер в виде пальцап, когда ховерим на кнопке и на надписи
.h3__miniature_pointer-on-hover,
.img__miniature_pointer-on-hover {
    &:hover {
        cursor: pointer;
    }
}

.img__miniature_pointer-on-hover {
    &:hover {
        opacity:0.8;
        -moz-opacity:0.8;
        filter: alpha(opacity=80) black;
        -khtml-opacity: 0.8;
    }
}

.h3__miniature_pointer-on-hover {
    &:hover {
        text-decoration: underline;
    }
}

// -- поинтер в виде пальцап, когда ховерим на кнопке и на надписи

















