// таблица стилей модального окна с инфой о компании

.wss-about-manufacturer__img {
    margin-bottom: 25px;
}

.wss-about-manufacturer__text {
    margin-bottom: 25px;
    p {
        text-indent: 25px;
    }
}

.wss-modal-header__color {
    background-color: $manufacturer-background-color;
    margin-bottom: 25px;
    padding-bottom: 10px !important;
    padding-top: 10px !important;
    color: $header-cart-cartlink-color;
    text-shadow: rgb(31, 31, 31) 0px 1px 0px;
    button {
        color: rgba(255,255,255,1) !important;
        text-shadow: rgb(31, 31, 31) 0px 1px 0px;
    }
    h4 {
        text-transform: uppercase;
    }
}

.wss-modal__close {
  float: right;
  font-size: 21px;
  font-weight: bold;
  line-height: 1;
  color: rgba(255, 255, 255, 0.85);
  text-shadow: 0 1px 0 #fff;
  filter: alpha(opacity=84);
  opacity: .84;
}
.wss-modal__close:hover,
.wss-modal__close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
  filter: alpha(opacity=50);
  opacity: .5;
}
button.wss-modal__close {
  -webkit-appearance: none;
  padding: 0;
  cursor: pointer;
  background: transparent;
  border: 0;
}



.wss-modal-footer__color {
    background-color: $manufacturer-background-color;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    color: $header-cart-cartlink-color;
    text-shadow: rgb(31, 31, 31) 0px 1px 0px;
    button {
        color: $header-cart-cartlink-color !important;
        text-shadow: rgb(31, 31, 31) 0px 1px 0px;
    }
}











