// стили для навигационного меню для зарегистрированных клиентов

.gf-navigation {
    margin-bottom: 60px;
    height: 60px;
    background-color: #009688;
}

.text__h3 {
    margin-top: 15px;
}

.navbar__cart-text {
    padding-left: 3px;
    font-size: 20px;
}

.navbar__cart-text-xs {
    padding-left: 3px;
    font-size: 16px;
}

.wss-navbar__minheight {
    min-height: 60px;
}

.navbar .gf-logo__link {
    min-height: 90px;
    line-height: 90px;
}

.wss__cart-minheight {
    min-height: 60px;
    line-height: 60px;
}

.wss__cart-minheight-xs {
    min-height: 30px;
    line-height: 30px;
}

.wss__cart-div {
    min-height: 50px;
    line-height: 50px;
    position: relative;
    font-size: 20px;
}

.wss__cart-div-xs {
    min-height: 30px;
    line-height: 30px;
    position: relative;
    font-size: 16px;
}

.wss-navbar__minheight {
    padding-left: 16px;
    h1 {
        font-size: 15px;
        margin: 0;
        line-height: 20px;
    }
}

.wss-navbar__minheight-xs {
    h1 {
        font-size: 12px;
        margin: 0;
        line-height: 16px;
    }
}

.wss-logo-block {
    background-color: $logoblock-background-color;
    margin-bottom: 0;
    color: rgba(255,255,255,.84);
    text-shadow: rgb(31, 31, 31) 0px 1px 0px;
}

.wss-logo-block__cart {
    padding-left: 0;
    li {
        list-style-type: none;
    }
}

.wss-logo-block__float_ul {
    ul {
        margin-bottom: 0;
    }
}


.wss-logo-block__cart-xs {
    padding-left: 0;
    li {
        list-style-type: none;
    }
}

.wss-logoblock__cart_cartlink {
    color: $header-cart-cartlink-color;
    text-decoration: none;
    text-shadow: rgb(31, 31, 31) 0px 1px 0px;
    text-transform: uppercase;
    &:link {
        text-decoration: none;
        color: $header-cart-cartlink-color;
        text-shadow: rgb(31, 31, 31) 0px 1px 0px;
        text-transform: uppercase;
    }
    &:visited {
        text-decoration: none;
        color: $header-cart-cartlink-color;
        text-shadow: rgb(31, 31, 31) 0px 1px 0px;
        text-transform: uppercase;
    }
    &:hover {
        text-decoration: none;
        color: $header-cart-cartlink-color;
        text-shadow: rgb(31, 31, 31) 0px 1px 0px;
        text-transform: uppercase;
    }
    &:active {
        text-decoration: none;
        color: $header-cart-cartlink-color;
        text-shadow: rgb(31, 31, 31) 0px 1px 0px;
        text-transform: uppercase;
    }
}

.wss-logo__link-xs {
    padding-top: 10px;
}

.wss-logo__h1-sm {
    padding-top: 12px;
}

.wss-logo__h1-lg {
    padding-top: 20px;
}

.wss-logo__cart-lg {
    padding-top: 15px;
}

.wss-logo__cart_maindiv {
    @include clearfix;
}

.wss-logo__cart_width {
    float: right;
    width: 90px;
}

.wss-logo__cart_width-xs {
    width: 90px;
}

.wss-logo__news_button {
    float: left;
    a {
        color: rgba(255,255,255,.84) !important;
        text-shadow: rgb(31, 31, 31) 0px 1px 0px !important;
    }
}

.wss__cart_equips-in-the-cart-lg {
    color: $header-cart-equips-in-cart-color;
    position: absolute;
    line-height: 15px;
    top: 11px;
    left: 15px;
    font-size: 20px;
    font-weight: 700;
}

.wss__cart_equips-in-the-cart-md {
    color: $header-cart-equips-in-cart-color;
    position: absolute;
    line-height: 15px;
    top: 11px;
    left: 9px;
    font-size: 20px;
    font-weight: 700;
}

.wss__cart_equips-in-the-cart-xs {
    color: $header-cart-equips-in-cart-color;
    position: absolute;
    line-height: 15px;
    top: 4px;
    left: 15px;
    font-size: 16px;
    font-weight: 700;
}

.wss-logo-block__float {
    display: none;
}

.wss-logo-block__float_bg-color {
    background-color: $logoblock-background-color;
}

.wss-logo-block__float_top {
    top:0;
    position: fixed;
    z-index: 1000;
    width: 100%;
}

//медиаквери для плавающей корзины
@media screen and (min-width: 1201px) {

    .wss__cart_equips-in-the-cart-xs-float {
        color: $header-cart-equips-in-cart-color;
        position: absolute;
        line-height: 15px;
        top: 12px;
        left: 15px;
        font-size: 20px;
        font-weight: 700;
    }

    .navbar__cart-text-xs-float {
        padding-left: 3px;
        font-size: 20px;
    }

    .wss__cart-div-xs-float {
        min-height: 50px;
        line-height: 50px;
        position: relative;
        font-size: 20px;
    }

}


@media screen and (min-width: 993px) and (max-width: 1200px) {

    .wss__cart_equips-in-the-cart-xs-float {
        color: $header-cart-equips-in-cart-color;
        position: absolute;
        line-height: 15px;
        top: 12px;
        left: 15px;
        font-size: 20px;
        font-weight: 700;
    }

    .navbar__cart-text-xs-float {
        padding-left: 3px;
        font-size: 20px;
    }

    .wss__cart-div-xs-float {
        min-height: 50px;
        line-height: 50px;
        position: relative;
        font-size: 20px;
    }

}

@media screen and (min-width: 769px) and (max-width: 993px) {

    .wss__cart_equips-in-the-cart-xs-float {
        color: $header-cart-equips-in-cart-color;
        position: absolute;
        line-height: 15px;
        top: 4px;
        left: 15px;
        font-size: 16px;
        font-weight: 700;
    }

    .navbar__cart-text-xs-float {
        padding-left: 3px;
        font-size: 16px;
    }

    .wss__cart-div-xs-float {
        min-height: 30px;
        line-height: 30px;
        position: relative;
        font-size: 16px;
    }

    .wss__cart-minheight {
        min-height: 30px;
        line-height: 30px;
    }

}

@media screen and (max-width: 768px) {

    .wss__cart_equips-in-the-cart-xs-float {
        color: $header-cart-equips-in-cart-color;
        position: absolute;
        line-height: 15px;
        top: 4px;
        left: 15px;
        font-size: 16px;
        font-weight: 700;
    }

    .navbar__cart-text-xs-float {
        padding-left: 3px;
        font-size: 16px;
    }

    .wss__cart-div-xs-float {
        min-height: 30px;
        line-height: 30px;
        position: relative;
        font-size: 16px;
    }

    .wss__cart-minheight {
        min-height: 30px;
        line-height: 30px;
    }

}











