// “аблицы стилей дл€ одного выбранного товара


.one-item__thumbnail {
    margin-top: 15px;
}

.one-item__insert-from-wysiwyg {

    img {
        display: block;
        max-width: 100%;
        height: auto;
        border-radius: 6px;
        margin-top: 10px;
        margin-bottom: 10px;
        margin-right: auto;
        margin-left: auto;
    }

    table {
        width: 100%;
        max-width: 100%;
        margin-bottom: 20px;
    }

    table > thead > tr > th,
    table > tbody > tr > th,
    table > tfoot > tr > th,
    table > thead > tr > td,
    table > tbody > tr > td,
    table > tfoot > tr > td {
        padding: 8px;
        line-height: 1.42857143;
        vertical-align: top;
        border-top: 1px solid #ddd;
    }
    table > thead > tr > th {
        vertical-align: bottom;
        border-bottom: 2px solid #ddd;
    }
    table > caption + thead > tr:first-child > th,
    table > colgroup + thead > tr:first-child > th,
    table > thead:first-child > tr:first-child > th,
    table > caption + thead > tr:first-child > td,
    table > colgroup + thead > tr:first-child > td,
    table > thead:first-child > tr:first-child > td {
        border-top: 0;
    }
    table > tbody + tbody {
        border-top: 2px solid #ddd;
    }
    table .table {
        background-color: #fff;
    }

}

.one-item__gallery {
    @include clearfix;
}

.one-item__photo-gallery {
    li {
        list-style-type: none;
    }
}

.one-item__photo-gallery_ome-image {
    //float: left;
    //margin-right: 10px;
    //width: 30%;
    margin-bottom: 20px;
}



















