// Стили для окна со статистикой
// author: taksenov@gmail.com

.gf-statistics__active-tab {
    background-color: #199F93 !important;
}

.gf-statistics__nav-tabs {
    background-color: transparent;
}

.gf-statistics__not-active-tab {
    background-color: rgba(0, 135, 120, 0.36);
}

//#009688





































