// Стили для страницы workout (тренировка)
// author: taksenov@gmail.com

.gf-upper-img {
    background: url('../img/nggirlsfit-workout-bg.jpg') no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
    height: 100vh;
    min-height: 240px;
    max-height: 353px;
}

.gf-workout__btnicon {
    margin-right: 10px;
}








