<!doctype html>
<html>

    <head lang="en">
        <meta charset="UTF-8">
        <title>WestSib Studio. Good sound - good life</title>
        <meta name="viewport" content="width=device-width">
        <meta name="description" content="Professional equipment for all stages of recording and processing sound: mic preamps, rack mixers and summing amps, dynamic and psychoacoustic processors, EQs, AD/DA converters, monitor controllers, ribbon microphones, monitors, level meters, clock generators, power distributors, sound distributors and much more" />
        <meta name="keywords" content="Professional equipment for all stages of recording and processing sound, mic preamp, rack mixers and summing amps, dynamic and psychoacoustic processor, EQ, AD/DA converter, monitor controller, ribbon microphone, monitor, level meter, clock generator, power distributor, sound distributor" />

        <!-- Favicon -->
        <link href="/static/dist/img/favicon.png" rel="shortcut icon">

        <link rel="stylesheet" href="/static/dist/css/style.min.css">

    </head>

    <body>

        {% block mainpage %}{% endblock mainpage %}

        {% block extra_javascript %}{% endblock extra_javascript %}

    </body>

</html>