<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Lorem ipsum.</title>
</head>
<body>
	<h1>Lorem ipsum dolor.</h1>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. At rem excepturi, nesciunt dolore veritatis magni, illo cumque in, dolorem accusamus doloremque tenetur repellat architecto! Quasi iure libero excepturi ea saepe sit sapiente laborum cumque, tempore autem voluptatum nobis. Culpa veritatis, incidunt saepe, voluptatum laborum voluptatem.</p>
</body>
</html>